[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyexif = "*"
exifread = "*"
mutagen = "*"

[dev-packages]
ipdb = "*"
yapf = "*"

[requires]
python_version = "3.7"
